.App {
  text-align: center;
  background: #f9f6e7;
  position: absolute;
  top: 0;
  left:0;
  right:0;
  bottom:0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}